<template>
  <q-page class="flex justify-center">
    <div class="container">
      <div class="row flex-center">
        <Question/>
      <div class="column items-center">
        <q-img class="main-logo q-my-xl" src="../statics/logo.png" :ratio="356/325"></q-img>
        <h5 class="main-text">Пройди этот тест и ты найдешь своего четвероного друга!</h5>
        <div class="main__test justify-between items-center bg-yellow-5 row">
          <q-btn flat class="arrow-left" rounded></q-btn>
          <Question></Question>
          <q-btn flat class="arrow-right" rounded></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Question from '../components/Question'
export default {
  name: 'find',
  components: { Question }
}
</script>
