<template>
  <q-page class="main-page row justify-center q-pa-md font-alegrey">
    <q-img class="logo q-my-xl" src="../statics/logo.png" :ratio="356/325"></q-img>
    <div class="description col-9 row justify-center q-mx-xl q-mb-xl text-h5 text-center">
      <div class="col-9">Привет!<br>Если ты ищешь <span class="text-yellow-6">маленького друга</span>, то ты попал в нужное место! Тут ты сможешь подобрать себе питомца и посмотреть приюты и их пушистых обитателей.<br><br><span class="text-yellow-6">Уважаемые Приюты</span>, вы можете написать нам на почту и мы добавим вас на наш сайт.<br>Email<br>Но обязательно укажите в названии <span class="text-yellow-6">"Приют"</span></div>
    </div>
    <div class="col-4">
      <q-btn no-caps flat class="q-mt-xl bg-yellow-4 text-h5 font-alegrey full-width" to="/find">Найти себе друга</q-btn>
      <q-btn no-caps flat class="q-mt-lg bg-yellow-4 text-h5 font-alegrey full-width" to="/pets">Посмотреть питомцев</q-btn>
    </div>
  </q-page>
  <q-page class="flex justify-center q-pa-md font-alegrey">
    <div class="container row justify-center">
      <q-img class="main-logo q-my-xl" src="../statics/logo.png" :ratio="356/325"></q-img>
      <div class="description col-9 column justify-between items-center q-mx-xl q-mb-xl text-h5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aperiam eos exercitationem illo in labore laudantium nemo nisi obcaecati quasi, repudiandae, totam vero. Consectetur in obcaecati omnis praesentium suscipit vel veniam. Enim fugiat iste laborum pariatur quam? Ab, accusamus amet magnam nihil non pariatur quae quo rem veniam voluptates!</div>
      <q-btn no-caps flat class="q-mt-xl col-3 bg-yellow-5 text-h5 font-alegrey" to="/find">Найти себе друга</q-btn>
    </div>
    </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
