<template>
  <q-page class="flex justify-center">
    <div class="container">
      <div class="row">
        Test
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Pets',
  data () {
    return {
      slide: 'style'
    }
  }
}
</script>

<style scoped>

</style>
