<template>
  <div class="question-block col-8 column items-center bg-yellow-4 text-h5 q-py-xl">
  <div class="question-block col-8 column items-center text-h5 q-py-xl">
    <div class="q-my-xl">
      <div class="question">1. Вы любите экпериментировать?</div>
      <q-option-group
        class="text-center"
        :options="options"
        label="Notifications"
        type="radio"
        v-model="group"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Question',
  data () {
    return {
      group: null,
      options: [
        { label: 'Да', value: '1', color: 'yellow-6' },
        { label: 'Нет', value: '2', color: 'yellow-6' }
      ]
    }
  }
}
</script>

<style scoped>
</style>
