@font-face
  font-family: AlegreyaSans
  src: url("../statics/fonts/AlegreyaSansSC-Regular.ttf")

.font-alegrey
  font-family: AlegreyaSans

.main
  &-text
    margin: 0
    font-size: 36px
    line-height: 43px
  &-logo
    max-width: 356px
  &__test
    max-width: 860px
    min-width: 320px
    height: 480px
    width: auto
.container
  max-width: 1024px
  min-width: 320px
  flex: auto

.arrow
  &-left
    background: url("../statics/icons/arrow-left.png") 100% /100%
  &-right
    background: url("../statics/icons/arrow-right.png") 100% /100%
