<template>
  <q-layout view="hHh lpR fff">

    <q-header reveal bordered class="bg-white text-black">
      <q-toolbar>
        <q-toolbar-title>
          <q-tabs v-model="tab" stretch>
            <q-route-tab to="/shelters"  name="shelters" label="Приюты"></q-route-tab>
            <q-route-tab to="/find" name="find" label="Найти питомца"></q-route-tab>
            <q-route-tab to="/pets" name="pets" label="Питомцы"></q-route-tab>
          </q-tabs>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-5 text-white">
      <q-toolbar>
        <q-toolbar-title>

        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
export default {
  name: 'Main',

  data () {
    return {
      tab: 0
    }
  }
}
</script>
